body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: black;
}

.logo {
    align-self: left;
    margin: 0px;
    padding-left: 10px;
    padding-top: 25px;
    height: 30px;
    width: 30px;
}

.nav-container {
    display: flex;
    width: 100%;
}

.nav {
    background-color: rgb(26, 46, 53);
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    height: 30px;
    color: black;
}

.nav2 {
    background-color: rgb(28, 187, 180);
    display: flex;
    float: right;
    width: 50%;
}

.spering {
    padding-right: 50px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 30px;
}

h1 {
    font-size: 40px;
    text-align: left;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    margin-bottom: 0px;
    width: 50%;
    padding: 10px;
}

p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 50%;
}

h1.branco {
    margin-top: 50px;
}

button {
    width: 150px;
    height: 40px;
}

#Home {
    background-color: #1A2E35;
    margin: 0 auto;
    width: 50%;
    height: 504px;
    text-align: center;
    float: left;
}

#Home2 {
    background-color: #1CBBB4;
    margin: 0 auto;
    width: 50%;
    height: 504px;
    float: right;
}

#Home3 {
    background-color: white;
    margin: 0 auto;
    width: 50%;
    height: 504px;
    text-align: center;
    float: left;
}

#Home4 {
    background-color: white;
    margin: 0 auto;
    width: 50%;
    height: 504px;
    float: right;
    text-align: center;
    
}

#Category {
    background-color: #1CBBB4;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#About {
    background-color: white;
    margin: 0 auto;
    width: 100%;
    height: 504px;
    text-align: center;
}

#Work {
    background-color: white;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
}

#Work2 {}

#Testemunha {
    text-align: center;
    margin: 0 auto;
    margin-top: 200px;
    width: 100%;
    height: 400px;
}

.img1 {
    margin: auto;
    display: block;
}

.row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 125px;
}

.item {
    text-align: center;
    margin-top: 50px;
}

.item div {
    text-align: right;
}

.baixo {
    margin-top: 50px;
    color: black;
}

.testimonial-box {
    border: 2px solid #000;
    padding: 20px;
    width: 60%;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.testimonial-box h2 {
    margin-top: 0;
}

.testimonial-box p {
    margin: 10px 0;
}

.branco {
    color: white;
    font-size: 40px;
}

.branco-menor {
    color: white;
    font-size: 20px;
}

.btn-vermelho {
    background-color: red;
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    cursor: pointer;
    margin-top: 90px;
}

div.img{
    background-color: #1CBBB4;
}

#Final {
    background-color: #1A2E35;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

footer {
    background-color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

textarea {
    width: 100%;
    height: 40px;
    resize: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}